body {
    color: blue;
}

form {
    display: inline;
}

input {
    width: 200px;
    height: 30px;
    font-size: 25px;
}


.button {
    font-size: xx-large;
    
}

#brand-form {
    float: right;
    margin-right: 40px;
}

#brand, #name, #price, #image {
   
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    width: 20%;
    font-size: xx-large;
  
}

.brands, .names, .prices, .images {
    width: 20%;
    /* border: 1px solid green; */
    margin-bottom: 4px;
    
   
}

.brands .names, .prices {
    margin-right: 4px;
  
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brands, .names {
    padding-left: 30px;
}

.prices {
    padding-left: 30px;
}

/* .names {
   
} */


img {
    max-width: 200px;
}