body {
    color: blue;
}


#name, #price, #image {
   
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    width: 30%;
    font-size: xx-large;
  
}

.names, .prices, .images {
    width: 20%;
    /* border: 1px solid green; */
    margin-bottom: 4px;
    
   
}

.names, .prices {
    margin-right: 4px;
    
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prices {
    padding-left: 50px;
}

/* .names {
   
} */


img {
    max-width: 200px;
}