body {
    color: dodgerblue;
    background-image: url('https://i.pinimg.com/originals/b1/58/e0/b158e0a6c90ca8e38551b2128ddede2e.jpg');
    
}


#openModal {
    color: dodgerblue
}

h1, div {
    font-family: 'Rhodium Libre';
}

form {
    display: inline;
}

input {
    width: 200px;
    height: 30px;
    font-size: 25px;
}

button {
    cursor: pointer;
}

.button {
    font-size: large;
    
}

#brand-form {
    float: right;
    margin-right: 40px;
}

#brand, #name, #price, #image, #favorite {
   
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    width: 17%;
    font-size: xx-large;
    
  
}

.brands, .names, .images, .favorites {
    width: 17%;
    /* border: 1px solid green; */
    margin-bottom: 4px;
   
}

.prices {
    width: 15%;
}

.brands .names, .prices {
    margin-right: 4px;
  
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: cornflowerblue;
    font-size: large;
}

input {
    width: min-content;
}

.brands, .names, .prices {
    padding-left: 30px;
}

.favorites {
    padding-left: 90px;
}

/* .names {
   
} */


img {
    max-width: 200px;
}

.fave-icons {
    cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-contents {
	background-color: white;
	/* height: 350px; */
	width: 600px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;

}